a {
    color: darkgreen;
    text-decoration: none;
    /* transition: all .2s; */
}

/* когда наводим */
a:hover {
 color: orange;
 /* font-size: 24px; */
}

/* только для ссылок */
a:visited {
    color: red;
}

/* когда нажимаем на объект */
a:active {
    color: blue;
}

/* .css:hover {
    background: green;
} */

.btn {
    background: #111;
    padding: 15px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
    color: orange;
}